{% extends "bootstrap/base.html" %}
{% block title %}Corona response{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
<header class="banner">
  <div class="container">
    <a class="brand" href="https://www2.gava.dk/">
      <img class="img-fluid" src="https://www2.gava.dk/app/themes/gavadk/dist/images/gava-logo.png" alt="Galten Valgmenighed">
    </a>
  </div>
</header>

<div class="container">
  <h1>Velkommen til GavAkut </h1>
  <p>
  Galten Valgmenighed vil gerne hjælpe lokalområdet i Galten-Skovby og omegn i corona krisen.
  </p>
  <p>
  Denne side er et forsøg på at formidle hjælp mellem folk som har brug for hjælp og folk som gerne vil hjælpe.
  </p>
  <p>Tryk på en af de to knapper nedenfor for at give udtryk for om du har brug for hjælp eller gerne vil hjælpe</p>


  <p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseNeedHelp" aria-expanded="false" aria-controls="collapseExample">
    Jeg har brug for hjælp
  </button>
  </p>
  <div>
    <div class="collapse" id="collapseNeedHelp">
      <div class="card card-body">
        <form>

          <div class="checkbox">
            <label><input type="checkbox" value="">Jeg har brug for hjælp til at handle</label>
          </div>
          <div class="checkbox">
            <label><input type="checkbox" value="">Jeg vil gerne bedes for</label>
          </div>
          <div class="checkbox disabled">
            <label><input type="checkbox" value="" disabled>Jeg vil gerne have et telfonopkald</label>
          </div>
          <div class="checkbox disabled">
            <label><input type="checkbox" value="" disabled>Andet (skriv det i feltet nedenfor )</label>
          </div>

          <div class="form-group">
            <label for="name">Navn</label>
            <input type="string" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Skriv dit navn">
            <small id="emailHelp" class="form-text text-muted">Skriv dit navn</small>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Skriv din email">
            <small id="emailHelp" class="form-text text-muted">Vi deler ikke din email med folk udenfor gava uden dit samtykke</small>
          </div>
          <div class="form-group">
            <label for="phoneNumber">Telefonnummer</label>
            <input type="text" class="form-control" id="phoneNumber" aria-describedby="phoneHelp" placeholder="Skriv dit telefonnummer">
            <small id="emailHelp" class="form-text text-muted">Vi deler ikke dit telefonnummer med folk udenfor gava uden dit samtykke</small>
          </div>

          <div class="form-group">

            <label for="prayer">Hvordan kan vi bede for dig eller hjælpe dig</label>
            <textarea class="form-control rounded-0" id="prayer" rows="5" aria-describedby="prayerHelp" ></textarea>
            <small id="prayerHelp" class="form-text text-muted">Vi vil gerne bede for dig - intet er for småt intet er for stort!</small>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Gava må gerne kontakte mig</label>
          </div>
          <button type="submit" class="btn btn-primary">Indsend</button>
        </form>
      </div>
    </div>
  </div>
  <p></p>
  <div>
    <p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseHelper" aria-expanded="false" aria-controls="collapseExample">
      Jeg vil gerne hjælpe
    </button>
    </p>
    <div class="collapse" id="collapseHelper">
      <div class="card card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
  </div>
</div>
{% endblock %}
