{% extends "bootstrap/base.html" %}
{% block title %}Corona response{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
<header class="banner">
  <div class="container">
    <a class="brand" href="https://www2.gava.dk/">
      <img class="img-fluid" src="https://www2.gava.dk/app/themes/gavadk/dist/images/gava-logo.png" alt="Galten Valgmenighed">
    </a>
  </div>
</header>

<div class="container">
  <h1>Velkommen til GavAkut </h1>
  <p>
  Tak for dit svar - vi vender tilbage hurtigst muligt - husk det hele baserer sig på frivillig indsats - så vær tålmodig
  </p>
<hr>
<footer class="content-info">
  <div class="container">
    <section class="widget text-5 widget_text"><h3>GALTEN VALGMENIGHED</h3>			<div class="textwidget"><p>Hørslevvej 35, Skovby, 8464 Galten<br>
Email: <a href="mailto:info@gava.dk">info@gava.dk</a><br>
Kontakt præst Martin Eskesen på tlf: 21 86 24 86</p>
</div>
		</section>  </div>
</footer>
{% endblock %}

